<h2 mat-dialog-title>Change your data</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="dataForm" class="form-inline">
    <div class="row mb-3">
        <label class="col-form-label" for="password">Password: </label>
        <input class="form-control" id="password" type="password" formControlName="password">
    </div>
    <div class="row mb-3">
      <label class="col-form-label" for="repeatPassword">Last name: </label>
      <input class="form-control" id="repeatPassword" type="password" formControlName="repeatPassword">
  </div>
</form>
<span [fxShow]="differentPassword" class="red">The given passwords differ</span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button 
    mat-stroked-button 
    mat-dialog-close 
    color="secondary"
    class="btn mat-stroked-button">
    Cancel
  </button>
  <button 
    mat-raised-button 
    class="btn btn-primary" 
    [disabled]="!dataForm.valid || !dataForm.dirty" 
    (click)="checkPasswords()">
    Change
  </button>
</mat-dialog-actions>