<div [fxShow]="loaded" >
    <div>
        <h1 class="inline"> {{data?.name}} {{data?.surname}} </h1>
        <fa-icon [icon]="faEdit" size="1x" (click)="changeData()" matTooltip matTooltip="Change your data"></fa-icon>
        <fa-icon [icon]="faLock" size="1x" (click)="changePassword()" matTooltip matTooltip="Change your password"></fa-icon>
    </div>
    <hr style="width:100%">
</div>

<div [fxShow]="!loaded" class="center">
    <fa-icon [icon]="faSpinner" size="4x" [spin]="true"></fa-icon>
</div>