<div mat-dialog-title fxLayout="row">
  <h3 fxFlex="80">Ticket details</h3>
  <div fxFlex="20" fxLayoutAlign="end">
    <fa-icon [icon]="faX" mat-dialog-close></fa-icon>
  </div>
</div>
<mat-dialog-content class="mat-typography">

    <div *ngFor="let detail of details">
      <div [fxShow]="detail != null" fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50%">
       <p><strong> {{detail?.title}} </strong></p>
        </div>
        <div fxFlex="50%">
            <p> {{detail?.selector}}</p>
      
          </div>
      </div>
    </div>
    <div fxLayoutAlign="center center">
      <qrcode [qrdata]="data.id.toString()" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
</mat-dialog-content>