<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">

            <form [formGroup]="dataForm" (ngSubmit)="register()" class="form-inline">
                <div class="row mb-3">
                    <label class="col-12 col-lg-3  col-form-label" for="name">First name</label>
                    <div class="col-12 col-lg-9">
                        <input class="form-control" id="name" type="text" formControlName="name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-12 col-lg-3 text-nowrap col-form-label" for="surname">Last name</label>
                    <div class="col-12 col-lg-9">
                        <input class="form-control" id="surname" type="text" formControlName="surname">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-12 col-lg-3 text-nowrap col-form-label" for="username">E-mail</label>
                    <div class="col-12 col-lg-9">
                        <input class="form-control" id="email" type="email" formControlName="username">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-12 col-lg-3 text-nowrap col-form-label" for="password">Password</label>
                    <div class="col-12 col-lg-9">
                        <input class="form-control" id="password" type="password" formControlName="password">
                    </div>
                </div>
                <span class="red" [fxShow]="accountAlreadyExist">Account already exists.</span>
                <div class="d-flex justify-content-center">
                    <button mat-raised-button class="btn btn-primary" [disabled]="!dataForm.valid || !dataForm.dirty || loading" type="submit">Sign up</button>
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </div>
            </form>
            <div class="text-center">
                <span>Already have account? <a (click)="goToLogin()">Sign in.</a></span>
            </div>
        </div>
    </div>
</div>