<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">

            <form [formGroup]="dataForm" (ngSubmit)="register()" class="form-inline">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="name">First name</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="name" type="text" formControlName="name">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="surname">Last name</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="surname" type="text" formControlName="surname">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="username">E-mail</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="email" type="email" formControlName="username">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="password">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="password" type="password" formControlName="password">
                    </div>
                </div>
                <span class="red" [fxShow]="accountAlreadyExist">Account already exists.</span>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit" [disabled]="!dataForm.valid || !dataForm.dirty">Sign
                        up</button>
                </div>
            </form>
            <span>Already have account? <a href="auth/client/login">Sign in.</a></span>
        </div>
    </div>
</div>