<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Urban Ticket System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div [fxShow]="roleService.getRole() == 'CLIENT' || roleService.getRole() == 'OAUTH_CLIENT'">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Buy a ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/client">My profile</a>
                    </li>
                    <li class="nav-item" (click)="authService.logout()">
                        <a class="nav-link active" aria-current="page" href="/auth">Log out</a>
                    </li>
                </ul>
            </div>
            <div [fxShow]="roleService.getRole() == 'INSPECTOR'">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Scan a ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">History of scanning</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">My profile</a>
                    </li>
                    <li class="nav-item" (click)="authService.logout()">
                        <a class="nav-link active" aria-current="page" href="/auth">Log out</a>
                    </li>
                </ul>
            </div>
            <div [fxShow]="roleService.getRole() == null">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="bg-image">
    <div class="container main-container">
        <router-outlet></router-outlet>
    </div>
</div>