<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="goToPage('/')">Urban Ticket System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="full-width" [fxShow]="roleService.getRole() == 'CLIENT' || roleService.getRole() == 'OAUTH_CLIENT'">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" (click)="goToPage('/buy-ticket')">Buy a ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" (click)="goToPage('/client')">My profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" (click)="goToPage('/ticket-cart')"><fa-icon [icon]="faShoppingCart"></fa-icon><div class="numItems">{{buyTicketCart.getNumberOfTicketsInCart()}}</div></a>
                    </li>
                    <li ngClass.gt-sm="left-align" class="nav-item" (click)="authService.logout()">
                        <a class="nav-link active">Log out</a>
                    </li>
                </ul>
            </div>
            <div class="full-width" [fxShow]="roleService.getRole() == 'STAFF'">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" (click)="goToPage('/validate-ticket')">Validate a ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" (click)="goToPage('/inspector')">My profile</a>
                    </li>
                    <li ngClass.gt-sm="left-align" class="nav-item" (click)="authService.logout()">
                        <a class="nav-link active">Log out</a>
                    </li>
                </ul>
            </div>
            <div [fxShow]="roleService.getRole() == null">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            </div>
      </div>
  </div>
</nav>
<div class="bg-image">
  <div class="container main-container">
    <router-outlet></router-outlet>
  </div>
</div>
