<div class="container">
    <h4>Successfully added ticket to cart</h4>
    <hr/>
    <div class="row">Ticket: {{this.data.displayName}}</div>
    <div class="row">Reduce: {{this.data.reduced ? "Reduced price" : "Standard price"}}</div>
    <div class="row">Price: {{(this.data.price/100).toFixed(2)}} PLN</div>
    <div class="row text-center">
        <div class="mb-3">
        <button 
            mat-dialog-close
            class="btn btn-primary" >
            Ok
        </button>
        </div>
    </div>
</div>
