<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form [formGroup]="dataForm" (ngSubmit)="login()" class="form-inline">
                <div class="row mb-3">
                    <label class="col-12 col-lg-2 col-form-label" for="username">E-mail: </label>
                    <div class="col-12 col-lg-10">
                        <input class="form-control" id="email" type="email" formControlName="username">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-12 col-lg-2 col-form-label" for="password">Password: </label>
                    <div class="col-12 col-lg-10">
                        <input class="form-control" id="password" type="password" formControlName="password">
                    </div>
                </div>
                <span class="red" [fxShow]="loginError">Invalid e-mail or password.</span>                
                <div class="d-flex justify-content-center mb-3">
                    <button mat-raised-button class="btn btn-primary" [disabled]="!dataForm.valid || !dataForm.dirty || loading" type="submit">Sign in</button>
                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </div>
            </form>
            <div class="text-center">
                <button type="button" (click)="loginWithFacebook()" [disabled]="loading" class="btn btn-primary btn-block fb align-middle"><fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon>  Sign in with Facebook</button>
            </div>
            <div class="text-center">
                <span>New to Urban Ticket? <a href="auth/client/register">Create an account.</a></span>
            </div>
        </div>
    </div>
</div>