.inline {
    display: inline;
}

fa-icon:hover {
    cursor: pointer;
}

li:hover {
    cursor: pointer;
}

.bold {
    font-weight: bolder;
}

.normal {
    font-weight: 300;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100%;
}