<div [fxShow]="loaded">
    <div>
        <h1 class="inline"> {{data?.name}} {{data?.surname}} </h1>
        <fa-icon [icon]="faEdit" size="1x" (click)="changeData()" matTooltip matTooltip="Change your data"></fa-icon>
        <fa-icon [fxShow]="roleService.getRole() == 'CLIENT'" (click)="changePassword()" [icon]="faLock" size="1x"  matTooltip matTooltip="Change your password"></fa-icon>
    </div>
    <hr style="width:100%">

    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" [ngClass]="bolded === 1 ? 'bold' : ''"  (click)="updateTickets(1)">To use</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [ngClass]="bolded === 2 ? 'bold' : ''" (click)="updateTickets(2)">Used</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [ngClass]="bolded === 3 ? 'bold' : ''" (click)="updateTickets(3)">In use</a>
            </li>
        </ul>
    </nav>

    <app-client-tickets
        [userTickets]="userTickets"
        [loaded]="loaded">
    </app-client-tickets>
</div>

<div [fxShow]="!loaded" class="center">
    <fa-icon [icon]="faSpinner" size="4x" [spin]="true"></fa-icon>
</div>