
<div class="cardWrap">
    <div class="card cardLeft" [ngClass]="{'redLeft':ticketData.type.category.id ==  1, 'greenLeft': ticketData.type.category.id ==  2, 'blueLeft':ticketData.type.category.id ==  3}">
      <h1>{{this.ticketData.type.category.name}}</h1>
      <div class="title">
        <h2>Reduce:</h2>
        <span>{{this.ticketData.type.reduced ? "Reduced price" : "Standard price"}}</span>
      </div>
    </div>
    <div class="card cardRight" [ngClass]="{'redRight':ticketData.type.category.id ==  1, 'greenRight': ticketData.type.category.id ==  2, 'blueRight':ticketData.type.category.id ==  3}">
      <div class="bus-icon"><fa-icon [icon]="faBus"></fa-icon></div>
      <div class="number">
        <div class="text">
        <h4>{{(ticketData.type.price/100).toFixed(2)}} PLN</h4>
        <h4><fa-icon [icon]="faInfo" (click)="getTicketDetails()" matTooltip matTooltip="More details"></fa-icon></h4>
      </div>
      </div>
      <div class="barcode"></div>
    </div>
    </div>