.card{
  opacity: 1;
}

.category{
  background: rgba(252, 235, 121,1);
}
.category2{
  background: rgba(141, 252, 121,1);
}
.category3{
  background: rgba(246, 161, 255,1);
}
.card-title{
  text-transform: uppercase;
}
.cart{
  text-align: right;
}
