

$red: #e84b3dff;
$green: rgb(100, 182, 45);
$blue: rgb(61, 78, 232);
$grey: #ecedefff;
$black: #343434ff;

.cardWrap {
  width: 100%;
  margin: 3em auto;
  background-color: rgba(141, 252, 121,1);
  color: #fff;
  font-family: sans-serif;
}

.red{
  background: linear-gradient(to bottom, $green 0%, $green 26%, $grey 26%, $grey 100%);
}

.blue{
}

.green{
  background: linear-gradient(to bottom, $red 0%, $red 26%, $grey 26%, $grey 100%);
}


.card {
  height: 11em;
  float: left;
  position: relative;
  padding: 1em;
  width:100%;
  margin-top: 10px;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 70%;  
}
.redLeft{
  border-left: 1px solid $red;
  border-bottom: 1px solid $red;
  background: linear-gradient(to bottom, $red 0%, $red 26%, $grey 26%, $grey 100%);
}
.blueLeft{
  border-left: 1px solid $blue;
  border-bottom: 1px solid $blue;
  background: linear-gradient(to bottom, $blue 0%, $blue 26%, $grey 26%, $grey 100%);
}
.greenLeft{
  border-left: 1px solid $green;
  border-bottom: 1px solid $green;
  background: linear-gradient(to bottom, $green 0%, $green 26%, $grey 26%, $grey 100%);
}

.cardRight {
  width: 30%;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.redRight{
  color:$red;
  border-right: 1px solid $red;
  border-bottom: 1px solid $red;
  background: linear-gradient(to bottom, $red 0%, $red 26%, $grey 26%, $grey 100%);
}
.blueRight{
  color:$blue;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
  background: linear-gradient(to bottom, $blue 0%, $blue 26%, $grey 26%, $grey 100%);
}
.greenRight{
  color:$green;
  border-right: 1px solid $green;
  border-bottom: 1px solid $green;
  background: linear-gradient(to bottom, $green 0%, $green 26%, $grey 26%, $grey 100%);
}

h1 {
  font-size: 1.1em;
  margin-top: 0;
  span {
    font-weight: normal;
  }
}

.title, .name, .seat, .time {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
    font-size: .9em;
    color: #525252;
    margin: 0;
   }
  span {
    font-size: .7em;
    color: #a2aeae;
  }
}

.title {
  margin: 2em 0 0 0;
}

.name, .seat {
  margin: .7em 0 0 0;
}

.time {
  margin: .7em 0 0 1em;
}

.seat, .time {
  float: left;
}
.bus-icon{
  color:white;
  text-align: center;
  margin-bottom: 0.5em;

}
.number {
  text-align: center;
  text-transform: uppercase;
  .text {
    margin: 0.5em 0 0 0;
    font-size: 1.7em;
  }
  .cart-icon{
    cursor: pointer;
  }
}
